parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Method .+EventDispatcher::extractEventListeners\(\) should return iterable<.+EventListenerContextInterface>\&SplPriorityQueue but returns array#'
